//Mobile
$mobile_min_width: "min-width: 320px";
$mobile_max_width: "max-width: 480px";
//Ipad and Tablet
$Tablet_min_width: "min-width: 481px";
$Tablet_max_width: "max-width: 768px";
//Small screens and laptops
$smallScreen_min_width: "min-width: 769px";
$smallScreen_max_width: "max-width: 1024px";
//Desktops and large screens
$largeScreen_min_width: "min-width: 1025px";
$largeScreen_max_width: "max-width: 1200px";
//Extra large screens and TV
$XlargeScreen_min_width: "min-width: 1201px";