@use "./variables/dimensions" as *;
@use "./variables/colors" as *;
@use "./variables/mediaQuery" as *;
@use "../helpers/mediaQuery_mixin" as *;

.about {
    padding: $SectionPadding;
    background-color: $NavyColor;

    .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 30px;

        @include mediaQuery($smallScreen_min_width) {
            & {
                flex-direction: row;
            }
        }

        .imagerContainer {
            flex: 1;
            display: flex;
            justify-content: center;
            order: 2;
            padding: 0;

            @include mediaQuery($smallScreen_min_width) {
                & {
                    order: 1;
                    padding: 0 15px;
                }
            }

            img {
                width: 100%;
                max-width: 445px;
                height: 100%;
            }
        }

        .text {
            flex: 1;
            padding: 0;
            order: 1;
            margin: auto;
            text-align: left;
            color: white;

            @include mediaQuery($smallScreen_min_width) {
                & {
                    order: 2;
                    padding: 0 15px;
                }
            }

            .p {
                font-family: "OpenSans-Regular", sans-serif;
                margin: 15px 0;
            }

            .a {
                padding: 10px 45px;
                margin-top: 15px;
            }
        }
    }
}