@use "../styles/variables/dimensions" as *;
@use "../helpers/flex_row_mixin" as *;
@use "../styles/variables/colors" as *;
@use "../styles/variables/mediaQuery" as *;
@use "../helpers/mediaQuery_mixin" as *;
@use "../helpers/flex_row_mixin" as *;

%spin {
    appearance: none;
    margin: 0;
    -webkit-appearance: none;
}

%datetime-fields {
    background-color: initial;
}

%filter {
    filter: invert(100%) brightness(50%) sepia(100%) saturate(10000%);
    -webkit-filter: invert(100%) brightness(50%) sepia(100%) saturate(10000%);
}

.book {
    padding: 90px 0;

    @include mediaQuery($XlargeScreen_min_width) {
        & {
            padding: 10.8vh 0;
        }
    }

    .box {
        display: block;

        &.hide {
            display: none;
        }

        .confirm {
            width: 360px;
            padding: 30px 25px;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 12;
            text-align: center;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 1px 10px -1px #333;

            .icon {
                width: 55px;
                height: 55px;
                margin: 0 auto 10px;
                @include flex_row;
                color: $MainColor;
                font-size: 36px;
                border-radius: 50%;
                border: 2px solid $MainColor;
            }

            .h3 {
                margin-bottom: 10px;
                text-transform: capitalize;
                font-size: 25px;
            }

            .p {
                margin-bottom: 15px;
            }

            .button {
                padding: 0.4375rem 3.125rem;
            }

            @include mediaQuery($XlargeScreen_min_width) {
                & {
                    padding: 3.6vh 3vh;
                    border-radius: 0.5vh;

                    .icon {
                        margin-bottom: 1.1875vh;
                        font-size: 2.52rem;
                    }

                    .h3 {
                        margin-bottom: 1.1875vh;
                        font-size: 1.75rem;
                    }

                    .p {
                        margin-bottom: 1.78125vh;
                        font-size: 1.12rem;
                    }

                    .button {
                        padding: 0.525rem 3.75rem;
                        margin-top: 1.78125vh;
                    }
                }
            }

            @include mediaQuery($XXlargeScreen_min_width) {
                & {
                    width: 23vw;
                    padding: 4.2vh 3.5vh;

                    .icon {
                        width: 6.05vh;
                        height: 6.05vh;
                        font-size: 2.475vw;
                        border-width: 0.22vh;
                    }

                    .h3 {
                        font-size: 1.71875vw;
                    }

                    .p {
                        font-size: 1.1vw;
                    }

                    .button {
                        padding: 0.9625vh 3.57vw;
                    }
                }
            }
        }
    }

    .header {
        margin-bottom: 1.5625rem;
        text-align: left;

        @include mediaQuery($XlargeScreen_min_width) {
            & {
                margin-bottom: 2.96875vh;
            }
        }
    }

    .formContainer {
        display: flex;
        flex-direction: column;
        gap: 2.8125rem;

        @include mediaQuery($smallScreen_min_width) {
            & {
                flex-direction: row;
                gap: 1.875rem;
            }
        }

        @include mediaQuery($XXlargeScreen_min_width) {
            & {
                gap: 2.1vw;
            }
        }

        .form {
            flex: 1;
            text-align: start;

            .inputContainer {
                position: relative;

                .input {
                    width: 100%;
                    height: 50px;
                    padding: 6px 12px 6px 25px;
                    margin-bottom: 1.5625rem;
                    font-family: "OpenSans-Regular", sans-serif;
                    font-size: 16px;
                    color: #000;
                    border: 1px solid #999;
                    outline: none;
                    border-radius: 5px;

                    &::-webkit-input-placeholder {
                        color: #222222;
                        text-transform: capitalize;
                    }

                    &::-moz-placeholder {
                        color: #222222;
                        text-transform: capitalize;
                    }

                    &::-ms-input-placeholder {
                        color: #222222;
                        text-transform: capitalize;
                    }

                    &::-ms-input-placeholder {
                        color: #222222;
                        text-transform: capitalize;
                    }

                    &::placeholder {
                        color: #222222;
                        text-transform: capitalize;
                    }

                    &[type="number"]::-webkit-outer-spin-button {
                        @extend %spin;
                    }

                    &[type="number"]::-webkit-inner-spin-button {
                        @extend %spin;
                    }

                    &[type="date"]::-webkit-calendar-picker-indicator {
                        cursor: pointer;
                    }

                    &[type="date"].invalid::-webkit-calendar-picker-indicator {
                        @extend %filter;
                    }

                    &[type="date"].invalid::-webkit-datetime-edit {
                        @extend %filter;
                    }

                    &[type="date"].invalid::-webkit-datetime-edit-year-field {
                        @extend %datetime-fields;
                    }

                    &[type="date"].invalid::-webkit-datetime-edit-month-field {
                        @extend %datetime-fields;
                    }

                    &[type="date"].invalid::-webkit-datetime-edit-day-field {
                        @extend %datetime-fields;
                    }

                    &.invalid {
                        color: red;
                        border-color: red;

                        &::-webkit-input-placeholder {
                            color: red;
                        }

                        &::-moz-placeholder {
                            color: red;
                        }

                        &::-ms-input-placeholder {
                            color: red;
                        }

                        &::-ms-input-placeholder {
                            color: red;
                        }

                        &::placeholder {
                            color: red;
                        }

                        +.alert {
                            @include flex_row;
                        }
                    }

                    @include mediaQuery($XlargeScreen_min_width) {
                        & {
                            margin-bottom: 2.96875vh;
                            padding: 0.72vh 1.44vh 0.72vh 3vh;
                            border-radius: 0.5vh;
                            font-size: 1.12rem;
                        }
                    }

                    @include mediaQuery($XXlargeScreen_min_width) {
                        & {
                            height: 5.5vh;
                            padding: 0.84vh 1.68vh 0.84vh 3.5vh;
                            border-width: 0.11vh;
                            font-size: 1.1vw;
                        }
                    }
                }

                .alert {
                    width: 18px;
                    height: 18px;
                    position: absolute;
                    top: 25px;
                    right: 12px;
                    transform: translateY(-50%);
                    display: none;
                    border-radius: 50%;
                    color: red;
                    font-size: 13px;
                    font-weight: bold;
                    border: 2px solid red;

                    @include mediaQuery($XlargeScreen_min_width) {
                        & {
                            font-size: 0.91rem;
                            right: 1.44vh;
                        }
                    }

                    @include mediaQuery($XXlargeScreen_min_width) {
                        & {
                            width: 1.98vh;
                            height: 1.98vh;
                            top: 2.75vh;
                            right: 1.68vh;
                            border-width: 0.22vh;
                            font-size: 0.89375vw;
                        }
                    }
                }

                .feedback {
                    color: red;
                    font-size: 15px;
                    transform: translateY(-20px);

                    @include mediaQuery($XlargeScreen_min_width) {
                        & {
                            font-size: 1.05rem;
                        }
                    }

                    @include mediaQuery($XXlargeScreen_min_width) {
                        & {
                            font-size: 1.03125vw;
                        }
                    }
                }
            }

        }
    }

    .map {
        flex: 1;
        position: relative;
        z-index: 1;

        .leaflet {
            width: 100%;
            height: 345px;
            border-radius: 10px;

            @include mediaQuery($XXlargeScreen_min_width) {
                & {
                    height: 37.95vh;
                    border-radius: 1vh;
                }
            }
        }
    }

}