@use "./global_placeholders" as *;
@use "../helpers/pefix_mixin" as *;

html {
    @extend %reset;
}

body {
    @extend %reset;
    line-height: 1.5;
    font-family: "OpenSans-Regular", sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

* {
    @extend %reset;
    scroll-behavior: smooth;
    box-sizing: border-box;
    @include prefix((box-sizing: border-box), webkit moz ms o)
}

@font-face {
    font-family: "DancingScript-Regular";
    src: local("DancingScriptRegular"),
        url("../media/fonts/DancingScript-Regular.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "DancingScript-Medium";
    src: local("DancingScriptMedium"),
        url("../media/fonts/DancingScript-Medium.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "DancingScript-SemiBold";
    src: local("DancingScriptSemiBold"),
        url("../media/fonts/DancingScript-SemiBold.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "DancingScript-Bold";
    src: local("DancingScriptBold"),
        url("../media/fonts/DancingScript-Bold.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "OpenSans-Regular";
    src: local("OpenSansRegular"),
        url("../media/fonts/OpenSans-Regular.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "OpenSans-Medium";
    src: local("OpenSansMedium"),
        url("../media/fonts/OpenSans-Medium.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "OpenSans-SemiBold";
    src: local("OpenSansSemiBold"),
        url("../media/fonts/OpenSans-SemiBold.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "OpenSans-Bold";
    src: local("OpenSansBold"),
        url("../media/fonts/OpenSans-Bold.ttf") format("truetype");
    font-display: swap;
}

/*.leaflet-container {
    width: 100%;
    height: 345px;
    border-radius: 10px;
  }*/