@use "./variables/colors" as *;
@use "./variables/mediaQuery" as *;
@use "../helpers/mediaQuery_mixin" as *;

.landing {
    padding: 45px 0 75px 0;
    flex: 1;
    display: flex;
    align-items: center;

    @include mediaQuery($XlargeScreen_min_width) {
        & {
            padding: 5.4vh 0 9vh 0;
        }
    }

    .text {
        width: 100%;
        text-align: start;
        color: #fff;
        margin-bottom: 23vh;

        @include mediaQuery($medScreen_min_width) {
            & {
                max-width: 58%;
            }
        }

        @include mediaQuery($largeScreen_min_width) {
            & {
                max-width: 50%;

            }
        }

        h1 {
            margin-bottom: 15px;
            font-family: "DancingScript-Bold", cursive;
            font-size: 3.5rem;
            line-height: 1.2;
            text-transform: capitalize;

            @include mediaQuery($XlargeScreen_min_width) {
                & {
                    margin-bottom: 2.34375vh;
                    font-size: 3.9375rem;
                }
            }

            @include mediaQuery($XXlargeScreen_min_width) {
                & {
                    font-size: 3.85vw;
                }
            }
        }

        p {
            margin-bottom: 1rem;
            font-size: 0.875rem;

            @include mediaQuery($XlargeScreen_min_width) {
                & {
                    margin-bottom: 2.5vh;
                    font-size: 0.984375rem;
                }
            }

            @include mediaQuery($XXlargeScreen_min_width) {
                & {
                    font-size: 0.9625vw;
                }
            }
        }

        .button {
            margin-top: 2.5%;
            padding: 0.625rem 2.8125rem;

            @include mediaQuery($XlargeScreen_min_width) {
                & {
                    margin-top: 1.2vh;
                    padding: 0.75rem 3.375rem;
                }
            }

            @include mediaQuery($XXlargeScreen_min_width) {
                & {
                    padding: 1.375vh 3.15vw;
                }
            }
        }
    }

    .dots {
        align-items: center !important;
        justify-content: start !important;

        .dot {
            width: 0.8rem;
            height: 0.8rem;
            margin: 0.4rem 0.2rem;
            border-radius: 50%;
            border: none;
            background-color: #fff;
            cursor: pointer;

            &.active {
                width: 1.4rem;
                height: 1.4rem;
                background-color: $MainColor;
            }

            @include mediaQuery($XlargeScreen_min_width) {
                & {
                    width: 0.8vw;
                    height: 0.8vw;
                    margin: 1vh 0.2vw;
                }

                &.active {
                    width: 1.4vw;
                    height: 1.4vw;
                }
            }
        }
    }
}