@use "./variables/colors" as *;
@use "./variables/mediaQuery" as *;
@use "../helpers/mediaQuery_mixin" as *;

.landing {
    padding: 7vh 0 11vh;
    flex: 1;
    display: flex;
    align-items: center;

    .text {
        width: 100%;
        text-align: start;
        color: #fff;
        margin-bottom: 24vh;

        @include mediaQuery($smallScreen_min_width) {
            & {
                max-width: 58%;
            }
        }

        @include mediaQuery($largeScreen_min_width) {
            & {
                max-width: 50%;

            }
        }

        h1 {
            margin-bottom: 15px;
            font-family: "DancingScript-Bold", cursive;
            font-size: 3rem;
            line-height: 1.2;
            text-transform: capitalize;

            @include mediaQuery($mobile_min_width) {
                & {
                    font-size: 3.5rem;
                }
            }

            @include mediaQuery($XlargeScreen_min_width) {
                & {
                    font-size: 3.6vw;
                }
            }
        }

        p {
            margin-bottom: 1rem;
            font-size: 0.9rem;

            @include mediaQuery($XlargeScreen_min_width) {
                & {
                    margin-bottom: 2.5vh;
                    font-size: 0.9vw;
                }
            }
        }

        .button {
            margin-top: 1%;

            @include mediaQuery($XlargeScreen_min_width) {
                & {
                    padding: 1.3vh 2.9vw;
                }
            }
        }
    }

    .dots {
        align-items: center !important;
        justify-content: start !important;

        .dot {
            width: 0.8rem;
            height: 0.8rem;
            margin: 0.4rem 0.2rem;
            border-radius: 50%;
            border: none;
            background-color: #fff;
            cursor: pointer;

            &.active {
                width: 1.4rem;
                height: 1.4rem;
                background-color: $MainColor;
            }

            @include mediaQuery($XlargeScreen_min_width) {
                & {
                    width: 0.8vw;
                    height: 0.8vw;
                    margin: 1vh 0.2vw;
                }

                &.active {
                    width: 1.4vw;
                    height: 1.4vw;
                }
            }
        }
    }
}