@use "./variables/colors" as *;
@use "./variables/mediaQuery" as *;
@use "../helpers/mediaQuery_mixin" as *;

.landing {
    padding: 45px 0 75px 0;
    flex: 1;
    display: flex;
    align-items: center;

    .text {
        width: 100%;
        text-align: start;
        color: #fff;
        margin-bottom: 230px;

        @include mediaQuery($smallScreen_min_width) {
            & {
                max-width: 58%;
            }
        }

        @include mediaQuery($largeScreen_min_width) {
            & {
                max-width: 50%;
                margin-bottom: 185px;
            }
        }

        h1 {
            margin-bottom: 15px;
            font-family: "DancingScript-Bold", cursive;
            font-size: 3rem;
            line-height: 1.2;
            text-transform: capitalize;

            @include mediaQuery($mobile_min_width) {
                & {
                    font-size: 3.5rem;
                }
            }
        }

        p {
            margin-bottom: 1rem;
            font-size: 14px;
        }

        .button {
            padding: 10px 45px;
            margin-top: 10px;
        }
    }

    .dots {
        align-items: center !important;
        justify-content: start !important;

        .dot {
            width: 12px;
            height: 12px;
            margin: 10px 3px;
            border-radius: 50%;
            border: none;
            background-color: #fff;
            cursor: pointer;

            &.active {
                width: 20px;
                height: 20px;
                background-color: $MainColor;
            }
        }
    }
}