@use "../helpers/flex_row_mixin" as *;
@use "./variables/colors" as *;
@use "../helpers/mediaQuery_mixin" as *;
@use "./variables/mediaQuery" as *;

.filters {
    @include flex_row;
    flex-wrap: wrap;
    margin: 2.5rem 0 1.25rem 0;
    list-style: none;
    overflow: hidden;

    @include mediaQuery($XlargeScreen_min_width) {
        & {
            margin: 4.75vh 0 2.375vh 0;
        }
    }

    .filter {
        padding: 0.4375rem 1.5625rem;
        border-radius: 1.5625rem;
        text-transform: capitalize;
        cursor: pointer;

        &.active {
            color: #fff;
            background-color: $NavyColor;
        }

        @include mediaQuery($XlargeScreen_min_width) {
            & {
                padding: 0.525rem 1.875rem;
                border-radius: 2.5vh;
                font-size: 1.12rem;
            }
        }

        @include mediaQuery($XXlargeScreen_min_width) {
            & {
                padding: 0.9625vh 1.75vw;
                font-size: 1.1vw;
            }
        }
    }
}