@use "./variables/colors" as *;
@use "../helpers/mediaQuery_mixin" as *;
@use "./variables/mediaQuery" as *;
@use "../helpers/flex_row_mixin" as *;

.item {
    max-width: 100%;
    display: none;
    flex: 100%;
    background: linear-gradient(to bottom, #f1f2f3 0 35%, $NavyColor 35% 100%);
    border-radius: 15px;
    overflow: hidden;

    @include mediaQuery($smallScreen_min_width) {
        & {
            max-width: calc((100% - 1.875rem) / 2);
            flex: calc((100% - 1.875rem) / 2);
        }
    }

    @include mediaQuery($largeScreen_min_width) {
        & {
            max-width: calc((100% - 3.75rem) / 3);
            flex: calc((100% - 3.75rem) / 3);
        }
    }

    @include mediaQuery($XlargeScreen_min_width) {
        & {
            border-radius: 1.5vh;
        }
    }

    @include mediaQuery($XXlargeScreen_min_width) {
        & {
            max-width: calc((100% - 4.2vw) / 3);
            flex: calc((100% - 4.2vw) / 3);
        }
    }

    &.active {
        display: block;
    }

    .imageContainer {
        width: 100%;
        height: 215px;
        padding: 1.5625rem;
        @include flex_row;
        border-radius: 0 0 0 45px;
        background-color: #f1f2f3;

        @include mediaQuery($XlargeScreen_min_width) {
            & {
                padding: 1.875rem;
                border-radius: 0 0 0 4.5vh;
            }
        }

        @include mediaQuery($XXlargeScreen_min_width) {
            & {
                height: 23.5vh;
                padding: 3.4375vh;
            }
        }

        img {
            width: auto;
            max-width: 100%;
            height: 145px;
            transition: 0.2s;

            @include mediaQuery($XXlargeScreen_min_width) {
                & {
                    height: 15.85vh;
                }
            }

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .description {
        padding: 1.5625rem;
        text-align: start;
        color: #fff;

        @include mediaQuery($XlargeScreen_min_width) {
            & {
                padding: 1.875rem;
            }
        }

        @include mediaQuery($XXlargeScreen_min_width) {
            & {
                padding: 3.4375vh;
            }
        }

        .h3 {
            margin-bottom: 8px;
            font-size: 20px;
            text-transform: capitalize;

            @include mediaQuery($XlargeScreen_min_width) {
                & {
                    margin-bottom: 1.25vh;
                    font-size: 1.4rem;
                }
            }

            @include mediaQuery($XXlargeScreen_min_width) {
                & {
                    font-size: 1.375vw;
                }
            }
        }

        .p {
            margin-bottom: 16px;
            font-size: 15px;

            @include mediaQuery($XlargeScreen_min_width) {
                & {
                    margin-bottom: 2.5vh;
                    font-size: 1.05rem;
                }
            }

            @include mediaQuery($XXlargeScreen_min_width) {
                & {
                    font-size: 1.03125vw;
                }
            }
        }

        .priceContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .price {
                font-size: 16px;
                font-weight: 400;
                margin: 10px 0 8px;

                @include mediaQuery($XlargeScreen_min_width) {
                    & {
                        font-size: 1.12rem;
                    }
                }

                @include mediaQuery($XXlargeScreen_min_width) {
                    & {
                        font-size: 1.1vw;
                    }
                }
            }
        }
    }
}