@use "../helpers/mediaQuery_mixin" as *;
@use "./variables/mediaQuery" as *;

.menuItems {
    display: flex;
    flex-wrap: wrap;
    gap: 1.875rem;
    padding-top: 25px;

    @include mediaQuery($XlargeScreen_min_width) {
        & {
            padding-top: 1.875rem;
        }
    }

    @include mediaQuery($XXlargeScreen_min_width) {
        & {
            padding-top: 3.4375vh;
            gap: 2.1vw;
        }
    }
}