@use "../styles/variables/colors" as *;
@use "../helpers/pefix_mixin" as *;
@use "./variables/mediaQuery" as *;
@use "../helpers/mediaQuery_mixin" as *;

.navbar {
    width: 100%;
    padding: 15px 0;
    position: relative;

    @include mediaQuery($XlargeScreen_min_width) {
        & {
            padding: 1.125rem 0;
        }
    }

    @include mediaQuery($XXlargeScreen_min_width) {
        & {
            padding: 2.0625vh 0;
        }
    }

    .items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        @include prefix((display: flex, flex-wrap: wrap, justify-content: space-between), webkit moz ms o);

        @include mediaQuery($largeScreen_min_width) {
            & {
                flex-wrap: nowrap;
                justify-content: start;
                @include prefix((flex-wrap: nowrap, justify-content: start), webkit moz ms o);
            }
        }

        .logo {
            padding: 5px 0 5px;
            margin-right: 1.28vw;
            font-family: "DancingScript-Bold", cursive;
            font-size: 2rem;
            color: #fff;
            text-decoration: none;
            text-transform: capitalize;
            line-height: inherit;
            white-space: nowrap;

            @include mediaQuery($XlargeScreen_min_width) {
                & {
                    padding: 0.375rem 0 0.375rem;
                    font-size: 2.24rem;
                }
            }

            @include mediaQuery($XXlargeScreen_min_width) {
                & {
                    padding: 0.6875vh 0 0.6875vh;
                    font-size: 2.2vw;
                }
            }
        }

        .toggler {
            display: block;
            cursor: pointer;
            transition: 0.3s;
            @include prefix((transition: 0.3s), webkit moz ms o);

            @include mediaQuery($largeScreen_min_width) {
                & {
                    display: none;
                }
            }

            span {
                width: 2rem;
                height: 4px;
                display: block;
                background-color: #fff;
                border-radius: 5px;
                transition: 0.3s;
                @include prefix((transition: 0.3s), webkit moz ms o);

                &:not(:last-of-type) {
                    margin-bottom: 6px;
                }
            }

            &.open {
                transform: rotate(360deg);
                @include prefix((transform: rotate(360deg)), webkit moz ms o);

                span {
                    &:first-of-type {
                        transform: rotate(45deg);
                        @include prefix((transform: rotate(45deg)), webkit moz ms o);
                    }

                    &:nth-of-type(2) {
                        transform: rotate(135deg);
                        position: absolute;
                        top: 0;
                        @include prefix((transform: rotate(135deg)), webkit moz ms o);
                    }

                    &:last-of-type {
                        display: none;
                    }
                }
            }
        }

        .collapse {
            width: 100%;
            height: 0;
            margin-left: auto;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            transition: height 0.35s ease;
            @include prefix((height: fit-content, display: flex), webkit moz ms o);

            &.opened {
                height: 30vh;
                transition: height 0.35s ease;
            }

            @include mediaQuery($largeScreen_min_width) {
                & {
                    height: fit-content;
                    flex-direction: row;
                    overflow: initial;
                }
            }
        }
    }
}