%background {
    background-color: #f6f6f6;
}

.li {
    padding: 0 29px 0 18px;
    color: #000;
    line-height: 40px;
    font-family: "OpenSans-Regular", sans-serif;

    &.selected {
        @extend %background;
        font-family: "OpenSans-Bold", sans-serif;
    }

    &:hover {
        @extend %background;
    }
}