@use "../helpers/flex_row_mixin" as *;
@use "./global_placeholders" as *;
@use "../styles/variables/colors" as *;
@use "./variables/mediaQuery" as *;
@use "../helpers/mediaQuery_mixin" as *;

%margin {
    margin: 0 0.625rem;
}

%position {
    position: relative;
}

.user {
    margin-top: 2vh;
    @include flex_row;

    @include mediaQuery($largeScreen_min_width) {
        & {
            margin-top: 0
        }
    }

    .sideList {
        @include flex_row;

        li {

            >a {
                @extend %margin;
                @extend %anchor;
                font-size: 1rem;

                @include mediaQuery($XlargeScreen_min_width) {
                    & {
                        font-size: 1.12rem;
                        margin: 0 0.8vw;
                    }
                }

                @include mediaQuery($XXlargeScreen_min_width) {
                    & {
                        font-size: 1.1vw;
                    }
                }

                &:hover {
                    @extend %color;
                }
            }

            &.cart {
                @extend %position;

                &::before {
                    content: attr(data-before);
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    top: -35%;
                    right: -4%;
                    color: $MainColor;
                    font-size: 16px;

                    @include mediaQuery($XlargeScreen_min_width) {
                        & {
                            font-size: 1.12rem;
                            right: -0.1%;
                        }
                    }

                    @include mediaQuery($XXlargeScreen_min_width) {
                        & {
                            width: 1.1vh;
                            height: 1.1vh;
                            font-size: 1.1vw;
                        }
                    }
                }

            }

            &.profile {
                @extend %position;
            }
        }
    }

    >a {
        margin: 0 0.625px;

        @include mediaQuery($XlargeScreen_min_width) {
            & {
                font-size: 1.12rem;
                margin: 0 0.8vw;
            }
        }

        @include mediaQuery($XXlargeScreen_min_width) {
            & {
                font-size: 1.1vw;
            }
        }
    }
}